<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi-person-circle" style="font-size: 5em; color: cornflowerblue;"></i>
                  <h5 class="card-title">Consultar Padrón</h5>
                  <p class="card-text">Aquí podrá saber si el paciente se encuentra habilitado en los padrones.</p>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi-file-arrow-up" style="font-size: 5em; color: cornflowerblue;"></i>
                  <h5 class="card-title">Cargar Prestaciones</h5>
                  <p class="card-text">Ingrese aquí para comenzar a agregar las fichas de nuevas prestaciones.</p>
                  <a [routerLink]="['/cargar-prestacion']" class="btn btn-primary">Ingresar</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi-card-checklist" style="font-size: 5em; color: cornflowerblue;"></i>
                  <h5 class="card-title">Consultar Prestaciones</h5>
                  <p class="card-text">Ingrese aquí para ver las prestaciones que ya han sido cargadas.</p>
                  <a href="#" class="btn btn-primary">Consultar</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi-gear" style="font-size: 5em; color: cornflowerblue;"></i>
                  <h5 class="card-title">Cambiar mis datos</h5>
                  <p class="card-text">Configure la información con la cual ODONTOPRAXIS auditará sus prestaciones.</p>
                  <a href="#" class="btn btn-primary">Ingresar</a>
                </div>
              </div>
        </div>
    </div>
</div>