
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 80px 15px;
    margin: auto;
}

.form-floating {
    position: relative;
}

.error {
    text-align: center;
    color: red;
    margin: 15px auto;
}
